@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --bgc-color: #1F1F1F;
  --warning-red: #E50000;
  --front-color: #292929;
  --dark-grey: #444444;
  --text-color: #E5E5E5;
  --simple-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

/* Null styles */
*,
*::before,
*::after {
  font-weight: var(--medium);
  box-sizing: border-box;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--bgc-color);
  color: var(--text-color);
  text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: inherit;
}